body {
	background color:none;
}

#header {
	color:none;
	background-color:none;
	padding: 1%;
	text-align:center;
	
}

.img{
	float:right;
	margin: 75px 30px 0 0;
	border-radius: 4%;
	
}

.article {
	width:20%;
	float:right;
	padding:1%;
	margin:20% 50% 0% 50%;
	
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:gray;
}

li {
	float: right;
	
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}

li a:hover{
	background-color:#111;
}

#image {
	float:right;
	margin:5% 2%;
	padding:-10%;
		
}

footer {
	text-align:center;
	background-color:aqua;
	clear:both;
	color:white;
	padding:2%;
	
}

#button {
	position:fixed;background-color:gray;text-align:center;
}

<style type="text/css">
html {
	background color:#999;
}

#form-wrap {
	width:600px;
	border:5px solid #ccc;
	background color:gray;
	margin:50px auto;
	padding:20px 0;	
}

form {
	width:500px;
	margin:0 auto;
}

Label {
	display:block;
	margin:5px 0 5px 20px;
	font:18px sans-serif;
	color:#888;
}
#section {
	width: 40%;
	margin: 30% 10% 0 20%;
}
Input {
	Width:250px;
	margin:0 0 0 20px;
}

Textarea {
	width: 250px;
	margin: 0 0 0 20px;
}

fieldset {
	border: none;
	background-color:teal;
	padding: 0 0 20px 0;
	

.ReadMore {
	Border: 3px #444444 solid;
	border-radius: 10px;
	-moz border-radius: 10px;
	background: white;
	color: red;
	width: 10%;
	margin: auto;
}

.Read More:hover {
	Border: 3px #ffffff dotted;
	background: black;
	color: white;

<style type="text/css">

.main {
    width: 75%;
    float: left;
    padding: 15px;
}
    
.menu {
    width: 25%;
    float: left;
    padding: 15px;
}
.article2 {
	width:70%;
	float:right;
	padding:1%;
}

		

	